.dashboard {
  padding: 20px;
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
}

.title-dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.title-dashboard h1 {
  font-size: 50px;
}

.title-ultima-empresa{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.content {
  display: flex;
  gap: 20px;
}

.chart-container {
  flex: 1;
}

.chart {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chart h3 {
  text-align: center;
  margin-bottom: 10px;
  color: #666;
}

.empresas-container {
  flex: 1;
}

.table-dashboard-empresa {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-dashboard-empresa table {
  width: 100%;
  border-collapse: collapse;
}

.table-dashboard-empresa th,
.table-dashboard-empresa td {
  padding: 10px;
  border: 1px solid #777676;
  text-align: left;
}


.table-dashboard-empresa th {
  background-color: #777676;
}

.table-dashboard-empresa td {
  background-color: #fff;
}
