.sidebar {
  margin-top: 60px; /* Espaço superior */
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: calc(100% - 60px); /* Ajusta a altura */
  background-color: #333;
  color: #fff;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  z-index: 1000;
}

.sidebar.open {
  transform: translateX(0);
}

.toggle-button {
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  padding: 10px;
  position: fixed; /* Fixa o botão */
  top: 10px; /* Ajuste conforme necessário */
  left: 10px;
  z-index: 1001;
}

.sidebar-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-menu ul {
  padding: 0;
}

.sidebar-menu li {
  padding: 15px;
  display: flex;
  align-items: center;
}

.sidebar-menu li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sidebar-menu li a span {
  margin-left: 10px;
  margin-bottom: 10px;
  width: 200px;
  padding-top: 10px;
}

.sidebar-menu li a:hover {
  background-color: #444;
}
