@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


.containersobre * {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.containersobre {
    text-align: center;
    background: transparent;
}

/* .containersobre header {
    padding-top: 60px;
    color: #444;
    font-size: 20px;
    margin: auto;
    line-height: 50px;
}

.containersobre .header h1 {
    color: rgb(24, 8, 248);
} */

/* .containersobre {
    min-height: 100vh;
    width: 100%;
    background: url("/src/assets/Planejamento-de-estoque.png") no-repeat top center / cover;
    position: relative;
  } */

.containersobre .subcontaineir {
    max-width: 100%;
    margin: auto;
    padding: 48px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.containersobre .time {
    margin: 10px;
    padding: 22px;
    max-width: 40%;
    cursor: pointer;
    transition: 0.6s;
    box-sizing: border-box;
    border: 2px solid #ff7e5f;
    box-shadow: 0 0 10px rgba(255, 126, 95, 0.5);
}

.containersobre .time {
    margin: 10px;
    padding: 22px;
    max-width: 40%;
    cursor: pointer;
    transition: 0.6s;
    box-sizing: border-box;
}

.containersobre .time:hover {
    transform: scale(1.03);
}

.containersobre .time img {
    widows: 200px;
    height: 200px;
}

.containersobre .nome {
    padding: 12px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.containersobre .area {
    font-style: italic;
    color: #08f5f5;
}

.containersobre .infosobre {
    margin: 20px 0;
    font-weight: lighter;
    color: #ffffff;
}

.containersobre .redessociais {
    margin: 14px;
}

.containersobre .redessociais a {
    display: inline-block;
    height: 30px;
    width: 30px;
    transition: .3s;
}

.containersobre .redessociais a:hover {
    transform: scale(1.8);
}

.containersobre .redessociais a i {
    color: #2904fd;

}