.panel-heading {
  margin-bottom: 10px;
}

/* Estilos para o componente Layout */
.container-empresa {
  background-color: #ddd;
  border: 2px solid #020817;
  border-radius: 10px;
  margin: 10px;
  width: 100%; /* 100% da largura da viewport */
  height: 100%; /* 100% da altura da viewport */
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 24px;
  padding: 6px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.panel-heading {
  background-color: #777676;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-container {
  display: flex;
  align-items: center;
}

.btn-novo {
  background-color: #137e1c;
  margin-right: 10px;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-novo:hover {
  background-color: #0f5815;
}

.filters {
  display: flex;
  align-items: center;
  flex-direction: row; /* Define a direção do flexbox como linha */
  font-size: 16px;
  font-style: bold;
  margin: 10px;
}

.filters Input {
  width: 400px;
}

.line {
  border-bottom: 2px solid #020817; /* Adiciona uma borda inferior */
}

.table {
  flex: 1; /* A tabela ocupa todo o espaço restante */
}

/* Estilos para a tabela */
.table table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #020817;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #777676;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
